In [2]:
import pickle
import pandas as pd

In [18]:
file_path = r'data\test_scrap.pickle'
with open(file_path, "rb") as file:
    regs_data = pickle.load(file)

for reg in regs_data[:2]:
    print(reg)
    print()

{'empresa_nome': 'Tres Coracoes Alimentos S/A', 'empresa_href': 'https://www.dnb.com/business-directory/company-profiles.tres_coracoes_alimentos_s-a.b2294d60d2c3f9c5f520b6db82fa0791.html', 'local': 'Eusebio, Ceara,\nBrazil', 'receita': '$677.42M'}

{'empresa_nome': 'Cafe Tres Coracoes S/A', 'empresa_href': 'https://www.dnb.com/business-directory/company-profiles.cafe_tres_coracoes_s-a.fb90ecf8e77b2932a813ac9e9d4774cf.html', 'local': 'Santa Luzia, Minas Gerais,\nBrazil', 'receita': '$271.06M'}

In [19]:
df = pd.DataFrame(regs_data)
df.head()

,empresa_nome,empresa_href,local,receita
0,Tres Coracoes Alimentos S/A,https://www.dnb.com/business-directory/company...,"Eusebio, Ceara,\nBrazil",$677.42M
1,Cafe Tres Coracoes S/A,https://www.dnb.com/business-directory/company...,"Santa Luzia, Minas Gerais,\nBrazil",$271.06M
2,COOPERATIVA DOS CAFEICULTORES DA ZONA DE TRES ...,https://www.dnb.com/business-directory/company...,"Três Pontas, Minas Gerais,\nBrazil",$207.52M
3,Companhia Cacique de Café Solúvel,https://www.dnb.com/business-directory/company...,"Londrina, Parana,\nBrazil",$198.58M
4,Cia Iguacu de Cafe Soluvel,https://www.dnb.com/business-directory/company...,"Cornelio Procopio, Parana,\nBrazil",$138.02M

In [20]:
df.shape

(1000, 4)

In [36]:
df['receita_milhao'] = df['receita'].str.strip('$|M').astype('float')
df['cidade'] = df['local'].str.split(',').apply(lambda x: x[0]).str.strip()
df['uf'] = df['local'].str.split(',').apply(lambda x: x[1]).str.strip()
df['empresa_nome'] = df['empresa_nome'].str.title()
df[['empresa_nome', 'receita_milhao', 'cidade', 'uf']]

,empresa_nome,receita_milhao,cidade,uf
0,Tres Coracoes Alimentos S/A,677.42,Eusebio,Ceara
1,Cafe Tres Coracoes S/A,271.06,Santa Luzia,Minas Gerais
2,Cooperativa Dos Cafeicultores Da Zona De Tres ...,207.52,Três Pontas,Minas Gerais
3,Companhia Cacique De Café Solúvel,198.58,Londrina,Parana
4,Cia Iguacu De Cafe Soluvel,138.02,Cornelio Procopio,Parana
...,...,...,...,...
995,Comercial Cereais Orgulho De Minas Ltda,0.43,Patos De Minas,Minas Gerais
996,Comercio Torrefacao E Moagem De Cafe Colnago Ltda,0.43,Anhumas,Sao Paulo
997,Cafe Cinco Estrelas Industria E Comercio Ltda,0.43,Sao Pedro Dos Ferros,Minas Gerais
998,Cafeeira Cassanho Industria E Comercio Ltda,0.43,Piraju,Sao Paulo
999,Sabor Rural Agronegocio Ltda,0.43,Itanhomi,Minas Gerais

In [40]:
df.groupby('uf')['receita_milhao'].sum().sort_values(ascending=False)

uf
Minas Gerais           831.60
Ceara                  701.09
Parana                 428.65
Sao Paulo              356.36
Espirito Santo         115.51
Sergipe                 72.02
Bahia                   56.65
Rio De Janeiro          49.83
Pernambuco              42.54
Goias                   41.93
Distrito Federal        24.17
Rondonia                17.76
Mato Grosso             16.49
Mato Grosso Do Sul      13.00
Maranhao                10.61
Santa Catarina           8.32
Acre                     5.99
Para                     5.88
Amazonas                 4.05
Rio Grande Do Sul        3.99
Amapa                    1.51
Rio Grande Do Norte      1.46
Piaui                    0.86
Alagoas                  0.86
Paraiba                  0.54
Tocantins                0.43
Name: receita_milhao, dtype: float64